body{
	background-color: white;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
}

.card{
	background-color: white;
	background-position:center;
	background-size:auto 100%;
}

.card.with-background{
	background-image: url("../assets/images/card-background.png");
}

.blur-effect{
	-webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
	background-color: #ffffff47;
}

@media screen and (orientation: landscape){
	body{
		background-image: url("../assets/images/background-landscape.png");
	}
}

@media screen and (orientation: portrait){
	body{
		background-image: url("../assets/images/background-portrait.png");
		background-size: cover;
	}
}