.container{
	margin: 0.5em;
	padding: 0.5em;
}

.c-flex, .c-flex-vertical{
	display: flex;
}

.c-flex-vertical{
	flex-direction: column;
}

.c-justify-center, .c-center{
	justify-content: center;
}

.c-align-center, .c-center{
	align-items: center;
}

.container.full-vertical{
	height: 100vh;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}