.text-center{
	text-align: center
}

.header-title{
	color: #4f4f64;
}

#header-title{
	margin-bottom: 0px;
}

#result-container{
	color: #0c0cb3;
    font-weight: 600;
}

#student-result{
	font-size: xx-large;
	color: #e39403;
}

.additional{
	color: black;
}

.congrats-text{
	text-align: center;
}

.logo-img{
	filter: drop-shadow(2px 4px 6px gray);
}

#pass-only{
	background-color: beige;
    border-radius: 5px;
    border: solid 1px black;
    padding: 1em;
}

